.authContainer {
  background-image: url("../images/login_background.jpg");
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  /* background-position: -10% 100%; */
  /* background-repeat: no-repeat; */
}

.formContainer {
  padding-top: 50px;
  width: 300px;
  margin: auto;
}
.authLogo {
  width: 120px;
  border-radius: 100px;
  margin:20px;
}
.formError {
    background:red;
    font-size: 1rem;
}
.form {
  margin: auto;
  background-color: white;
  /* padding:20px; */
  width: 250px;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 3px;
}

.authFormInput label {
  padding: 0 10px;
  border: none;
  font-size: 1rem;
  /* height:100px; */
}

.formBottomText {
  font-size: 1rem;
  color: black;
}
.formBottomText a {
    color: black;
}
